*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg , #602add, #2d71c4);
    padding: 10px;
}
.Todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    border-radius: 10px;
    margin: 100px auto 20px;
    padding: 40px 30px 60px;
      
}
.Todo-app h2{
    color: #3a1096;
    font-size:30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.Todo-app h2 img{
    
    width :50px;
    margin-left: 20px ;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dad6d6;
    border-radius: 30px;
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 25px;;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;

}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #d67831;
    cursor: pointer;
    border-radius: 30px;
    color:#fff;
    font-size: 16px;
    font-weight: bold;

}
ul li{
    list-style: none;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    padding: 12px 8px 12px 50px;
    position :relative;
}
ul li::before{
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("images/unchecked.png");
    content: '';
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}
ul li.checked{
    color: #555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url("images/checked.png");
}
ul li span{
    position: absolute;
    right: 0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height : 38px;
    text-align: center;
    border-radius: 50%;

}
ul li span:hover{
    background: #bcb5b5;
}












